@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(84, 54, 236, 0.5);
  height: 10%;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5436ec;
}

::-webkit-scrollbar-track {
  background-color: #1d232a;
}

::selection {
  color: #1d232a;
  background-color: #5436ec;
}
